In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from statsmodels.formula.api import ols
import scipy.stats as stats
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression

In [44]:
df= pd.read_csv("student_data.csv")
pd.set_option('display.max_columns',None)
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,course,other,1,2,2,no,yes,yes,no,yes,yes,no,no,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,course,other,1,1,3,no,no,no,no,no,yes,no,no,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father,1,1,0,no,no,no,no,yes,yes,yes,no,3,2,3,3,3,5,5,8,9,9

### Converting Object to Category datatype

In [45]:
def categorycol(*col):
    lst_col= list(col)
    for m in lst_col:
        df[m]=df[m].astype('category')

In [46]:
categorycol('school','sex','address','famsize','Pstatus','Mjob','Fjob','paid','activities','internet','romantic','schoolsup','famsup','higher')

### Finding average marks

In [47]:
df['sum']= df[['G1','G2','G3']].sum(axis=1)
df['avg_score_%']=((df['sum'])/60)*100
df['avg_score_%']=df['avg_score_%'].round()
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,sum,avg_score_%
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6,17,28.0
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6,16,27.0
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10,25,42.0
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15,44,73.0
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10,26,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,course,other,1,2,2,no,yes,yes,no,yes,yes,no,no,5,5,4,4,5,4,11,9,9,9,27,45.0
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,3,14,16,16,46,77.0
392,MS,M,21,R,GT3,T,1,1,other,other,course,other,1,1,3,no,no,no,no,no,yes,no,no,5,5,3,3,3,3,3,10,8,7,25,42.0
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,0,11,12,10,33,55.0
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father,1,1,0,no,no,no,no,yes,yes,yes,no,3,2,3,3,3,5,5,8,9,9,26,43.0

### Defing scores

In [48]:
def grade_system(score):
    if score >= 90: return "A+"
    elif score >= 85: return "A"
    elif score >= 80: return "A-"
    elif score >= 75: return "B+"
    elif score >= 70: return "B"
    elif score >= 65: return "B-"
    elif score >= 60: return "C+"
    elif score >= 55: return "C"
    elif score >= 50: return "C-"
    elif score >= 45: return "D+"
    elif score >= 40: return "D"
    elif score >= 35: return "D-"
    else: return "F"
    
df["grade"] = df["avg_score_%"].apply(grade_system)

In [49]:
def pf(a):
    if a>=40:
        return 'Passed'
    else:
        return 'Failed'

df["status"] = df["avg_score_%"].map(pf)
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,sum,avg_score_%,grade,status
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6,17,28.0,F,Failed
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6,16,27.0,F,Failed
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10,25,42.0,D,Passed
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15,44,73.0,B,Passed
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10,26,43.0,D,Passed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,course,other,1,2,2,no,yes,yes,no,yes,yes,no,no,5,5,4,4,5,4,11,9,9,9,27,45.0,D+,Passed
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,3,14,16,16,46,77.0,B+,Passed
392,MS,M,21,R,GT3,T,1,1,other,other,course,other,1,1,3,no,no,no,no,no,yes,no,no,5,5,3,3,3,3,3,10,8,7,25,42.0,D,Passed
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,0,11,12,10,33,55.0,C,Passed
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father,1,1,0,no,no,no,no,yes,yes,yes,no,3,2,3,3,3,5,5,8,9,9,26,43.0,D,Passed

### Data cleaning and mapping

In [50]:
df.drop(['reason','guardian','nursery','school','age','Mjob','Fjob','Medu','Fedu'], axis=1,inplace= True)

In [51]:
gender_map = {"M":0, "F": 1}
df["sex"] = df["sex"].map(gender_map)

In [52]:
fam_map = {"GT3":0, "LE3": 1}
df["famsize"] = df["famsize"].map(fam_map)

In [53]:
add_map = {"U":1, "R": 0}
df["address"] = df["address"].map(add_map)

In [54]:
status_map = {"Passed":1, "Failed": 0}
df["status"] = df["status"].map(status_map)

In [55]:
stat_map = {"A":0, "T": 1}
df["Pstatus"] = df["Pstatus"].map(stat_map)

In [56]:
d = {"no":0, "yes": 1}
df["paid"] = df["paid"].map(d)
df["activities"] = df["activities"].map(d)
df['romantic'] = df["romantic"].map(d)
df['internet'] = df["internet"].map(d)
df['schoolsup'] = df["schoolsup"].map(d)
df['famsup'] = df["famsup"].map(d)
df['higher'] = df["higher"].map(d)

In [57]:
df

,sex,address,famsize,Pstatus,traveltime,studytime,failures,schoolsup,famsup,paid,activities,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,sum,avg_score_%,grade,status
0,1,1,0,0,2,2,0,1,0,0,0,1,0,0,4,3,4,1,1,3,6,5,6,6,17,28.0,F,0
1,1,1,0,1,1,2,0,0,1,0,0,1,1,0,5,3,3,1,1,3,4,5,5,6,16,27.0,F,0
2,1,1,1,1,1,2,3,1,0,1,0,1,1,0,4,3,2,2,3,3,10,7,8,10,25,42.0,D,1
3,1,1,0,1,1,3,0,0,1,1,1,1,1,1,3,2,2,1,1,5,2,15,14,15,44,73.0,B,1
4,1,1,0,1,1,2,0,0,1,1,0,1,0,0,4,3,2,1,2,5,4,6,10,10,26,43.0,D,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,0,1,1,0,1,2,2,0,1,1,0,1,0,0,5,5,4,4,5,4,11,9,9,9,27,45.0,D+,1
391,0,1,1,1,2,1,0,0,0,0,0,1,1,0,2,4,5,3,4,2,3,14,16,16,46,77.0,B+,1
392,0,0,0,1,1,1,3,0,0,0,0,1,0,0,5,5,3,3,3,3,3,10,8,7,25,42.0,D,1
393,0,0,1,1,3,1,0,0,0,0,0,1,1,0,4,4,1,3,4,5,0,11,12,10,33,55.0,C,1
394,0,1,1,1,1,1,0,0,0,0,0,1,1,0,3,2,3,3,3,5,5,8,9,9,26,43.0,D,1

### Applying ML Algorthims for predicting PASSED OR FAILED

In [58]:
ml_students_df =df.copy()

In [59]:
ml_students_df.drop(['G1','G2','G3','avg_score_%','sum','grade'],axis=1,inplace=True)

In [60]:
ml_students_df

,sex,address,famsize,Pstatus,traveltime,studytime,failures,schoolsup,famsup,paid,activities,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,status
0,1,1,0,0,2,2,0,1,0,0,0,1,0,0,4,3,4,1,1,3,6,0
1,1,1,0,1,1,2,0,0,1,0,0,1,1,0,5,3,3,1,1,3,4,0
2,1,1,1,1,1,2,3,1,0,1,0,1,1,0,4,3,2,2,3,3,10,1
3,1,1,0,1,1,3,0,0,1,1,1,1,1,1,3,2,2,1,1,5,2,1
4,1,1,0,1,1,2,0,0,1,1,0,1,0,0,4,3,2,1,2,5,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,0,1,1,0,1,2,2,0,1,1,0,1,0,0,5,5,4,4,5,4,11,1
391,0,1,1,1,2,1,0,0,0,0,0,1,1,0,2,4,5,3,4,2,3,1
392,0,0,0,1,1,1,3,0,0,0,0,1,0,0,5,5,3,3,3,3,3,1
393,0,0,1,1,3,1,0,0,0,0,0,1,1,0,4,4,1,3,4,5,0,1
394,0,1,1,1,1,1,0,0,0,0,0,1,1,0,3,2,3,3,3,5,5,1

In [61]:
X=ml_students_df.drop(['status'],axis=1)
y=ml_students_df['status']

In [70]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2,random_state=42,stratify=y)

## KNN

In [71]:
knn = KNeighborsClassifier(n_neighbors=7)
  
knn.fit(X_train, y_train)
  
# Calculate the accuracy of the model
print(knn.score(X_test, y_test))

print(knn.predict(X_test))

0.8354430379746836
[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1
 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 0 1 1 1]

## Naive Bayes

In [81]:
gnb = GaussianNB()
gnb.fit(X_train, y_train)
 
# making predictions on the testing set
y_pred = gnb.predict(X_test)
# comparing actual response values (y_test) with predicted response values (y_pred)
from sklearn import metrics
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)
print(gnb.score(X_test,y_test))

Gaussian Naive Bayes model accuracy(in %): 81.0126582278481
0.810126582278481

## Logistic Regression

In [78]:
lr = LogisticRegression()
lr.fit(X_train, y_train)

C:\Users\utkar\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [79]:
y_pred = lr.predict(X_test)
y_pred

array([1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [80]:
lr.score(X_test,y_test)

0.8481012658227848